/*------------------------------------------------------------------------------
    CUSTOMIZATIONS
------------------------------------------------------------------------------*/
.vaca-popup-menu-content {
    padding: 0px;
}
.vaca-popup-menu-boxpointer {
  -arrow-background-color: #1d1d1d;
  -arrow-border-width: 0px;
}

/*------------------------------------------------------------------------------
    MAIN CONTAINER
------------------------------------------------------------------------------*/
.main-container {
    margin: 3px;
}

/*------------------------------------------------------------------------------
    DASHBOARD DETAIL
------------------------------------------------------------------------------*/
.dashboard-detail {
    width: 260px;
}

/*--------------------------------------
    HEADER
--------------------------------------*/
.dashboard-detail .header {
    background-color: #1d1d1d;
    padding: 10px;
    border-radius: 3px 3px 0px 0px;
}
.dashboard-detail .header StEntry {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    selection-background-color: #FFF;
    selected-color: #1D1D1D;
}

/*--------------------------------------
    BODY
--------------------------------------*/
.dashboard-detail .item {
    background-color: #e0dc9a;
    border-color: #c0bc76;
    border-radius: 3px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.dashboard-detail .item.red {
    background-color: #411010;
    border-color: #1b0202;
    color: white;
}
.dashboard-detail .item.red StEntry{
    color: white;
}
.dashboard-detail .item StEntry {
    text-align: left;
    font-size: 14px;
    color: #666235;
    background-color: transparent;
    border: none;
    selection-background-color: #8c8969;
    selected-color: #FFF;
}
.dashboard-detail .item .remove-button {
    margin-left: 5px;
}
.dashboard-detail .item .remove-button-icon {
    width: 10px;
    height: 10px;
}
.dashboard-detail .item:last-child {
    margin-bottom: 0px;
}
.dashboard-detail .item-container {
    background-color: #eeeed7;
    min-height: 250px;
    padding: 10px 0px 10px 15px;
}

/*--------------------------------------
    ACTION BAR
--------------------------------------*/
.dashboard-detail .action-bar {
    border-color: #dbd9b0;
    background-color: #eeeed7;
    color: #1d1d1d;
    padding: 10px;
    border-top: 1px;
    border-radius: 0px 0px 3px 3px;
    font-weight: bold;
    font-size: 12px;
}
.dashboard-detail .action-bar .main-action {
    color: #db8a20;
}
.dashboard-detail .action-bar StButton {
    margin-right: 5px;
}
